[submodule "Tema_06_Desarrollo_con_Vue_js/Practica_Vue_versiones"]
	path = Tema_06_Desarrollo_con_Vue_js/Practica_Vue_versiones
	url = https://github.com/dwec-marenostrum-2024-2025/vuejs-componentes-atmsDAWDAMAlicante.git
