


main {
    display: block;
    width: 99%;
    margin: 0 auto;
    border: 1px solid red;
  }
  
  section{
    float:left;
    width: 40%;
    border: 1px solid blue;
    color:black;
    background-color: white;
  }



