<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repaso 2 - Vue</title>
    <link href="../estilos.css" rel="stylesheet">
    <style>
        
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="app">
<p>{{saludo1}}</p>
<p>{{actualizarSaludo1}}</p>
<p v-html="saludo2"></p>
<p><span v-bind:class="saludo3a">{{saludo3b}}</span></p>
<p><span v-bind="saludo4atributos">Por su casa yo pasé</span></p>
<p><span :class="{marcadomorado:verdad, subrayado:verdad}">Vio usted a mi abuela</span></p>
<!-- entre comillas tiene que se JavaScript -->
<template v-if="verdad==true"><p>Adiós, Don Pepito</p></template>
<template v-else><p>Adiós, Don José</p></template>
<!-- v-show oculta pero sí aparecen -->


<p v-show="verdad==true">Hola, Don Pepito</p>
<p v-show="verdad==false">Hola, Don José</p>
<hr>
<h2>Los Jedis</h2>
<ul>
    <!--<li v-for="unJedi in arrayJedis1">{{unJedi}}</li>-->
    <li v-for="unJedi in arrayJedis2" :key="unJedi.nombre">{{unJedi.nombre}}</li>
</ul>
<button @click="salduo1cambio">Cambio 1</button>
<p>NO SE DEBE USAR V-FOR Y V-IF EN LA MISMA LÍNEA</p>
<template v-for="num in arraySimple">
<ul>
    <li  v-if="num<5">{{num}}</li>
</ul>
</template>
<div>
<form action="http://wwww.micasa.es" v-on:submit.prevent="pararElEnvio('Bien',$event)">
    <input type="text" @keydown.a="sumarUnoMas($event)"><br>
        <input type="submit">
</form></div>




<p><img :src="saludo3img"></p>






</div>



<script>
// sigo DATA BINDING MINUTO 46 DE LA TUTORÍA
        // DATA BINDING
        // v-model para enlazar entre campos de formulario y variables de estado
        // radio, checkbox, select se usa en combinación con value
        // seleccion múltiple guarda un array
        // https://jsbin.com/?html,output
        // https://unpkg.com/

const {createApp} = Vue;
const app = createApp({ 
    // la función createApp() es una función
    // la función createApp(OBJETO) tiene un parámetro que es un objeto
    // el objeto-parámetro tiene
    data(){ // primer elemento del objeto ES UNA FUNCIÓN QUE OBLIGATORIAMENTE DEVUELVE UN OBJETO
        return{
            saludo1: "Hola, Don Pepito", // INTERPOLACIÓN
            saludo2: "<span class='marcadoazul'>Hola, Don José</span>", // DIRECTIVA
            saludo3a: "marcadoverde",
            saludo3b: "Pasó usted por mi casa",
            saludo3img: "https://s3.ppllstatics.com/rc/www/multimedia/2023/02/08/fofo-1200x840.gif",
            saludo4atributos: {
                style:"color:#FF0000;",
                class:"negrita"},
            verdad:true, // lo mismo con style
            arrayJedis1:[{"nombre": "Yoda","luz": true},{"nombre": "Darth Sidious","luz": false},{"nombre": "Obi Wan Kenobi","luz": true},{"nombre": "Mace Windu","luz": true},{"nombre": "Qi Gon Jin","luz": true},{"nombre": "Darth Maul","luz": false},{"nombre": "Darth Vader","luz": false},{"nombre": "Luke Skywalker","luz": true},{"nombre": "Ahsoka Tano","luz": true},{"nombre": "Conde Dooku","luz": false},{"nombre": "Asajj Ventress","luz": false}],
            arrayJedis2:[{nombre: "Yoda",luz: true},{nombre: "Darth Sidious",luz: false},{nombre: "Obi Wan Kenobi",luz: true},{nombre: "Mace Windu",luz: true},{nombre: "Qi Gon Jin",luz: true},{nombre: "Darth Maul",luz: false},{nombre: "Darth Vader",luz: false},{nombre: "Luke Skywalker",luz: true},{nombre: "Ahsoka Tano",luz: true},{nombre: "Conde Dooku",luz: false},{nombre: "Asajj Ventress",luz: false}],
            otraCosa: true,
            unoMas: 1,
            arraySimple:[0,1,2,3,4,5,6,7,8,9]
        }
    },
    methods: {
        // Se puede hacer referencia a las variables de estado de arriba con THIS
        salduo1cambio(){
            this.saludo1 = "Hola, Don José"
            this.verdad = !this.verdad;
        },
        pararElEnvio(mensaje, evento){
            console.log(mensaje)
            //evento.preventDefault(); ESTO YA LO HACE EL @submit.prevent
            // EL SUBMIT VA EN EL FORM
            alert(this.saludo1 + "Operación realizada con éxito")
        },
        sumarUnoMas(evento){
            this.unoMas++;
            console.log(this.unoMas)
        }
    },
    computed:{ // Objeto que define funciones a las que se hace referencia como por nombres
        actualizarSaludo1(){
            let mensaje = "Hola, Don Pepito";
            console.log(mensaje);
            return mensaje;
        }
    }

})

app.mount("#app")


</script>

    
</body>
</html>